<table class="navbar" border="1">
        <tbody>
            <tr>
                <th>
                    <a href="/">Home</a>
                </th>
                <th>
                    <a href="/department">DEPARTMENT</a> Interactions
                </th>
                <th>
                    <a href="/patient">PATIENT</a> Interactions
                </th>
                <th>
                    <a href="/branch">BRANCH</a> Interactions
                </th>
                <th>
                    <a href="/doctor">DOCTOR</a> Interactions
                </th>
                <th>
                    <a href="/doctor_branch">DOCTOR/BRANCH</a> Interactions
                </th>
                <th>
                    <a href="/doctor_department">DOCTOR/DEPARTMENT</a> Interactions
                </th>
            </tr>
        </tbody>
    </table>
    <h1>Department Entity Interactions</h1>
    <h3>Add new department:</h3>
    <form id="adddepartment" action="/department" method="post">
        Department Title:
        <input name="Title" type="text" />
        <br />
        <input value="Submit" type="submit" />
    </form>
    <br />
    <h3>Current Departments:</h3>
    <table border="1">
        <thead>
            <tr>
                <th>Title</th>
            </tr>
        </thead>
        <tbody>
            {{#each departments}}
            <tr>
                <td>{{Title}}</td>
                <!--<td>
                    <button onclick="deleteDepartment({{Id}})">Delete</button>
                </td>
                <td>
                    <a href="/department/{{Id}}">Update</a>
                </td>
                    -->
            </tr>
            {{/each}}
        </tbody>
    </table>
