body {
  background-color:#DEE3E0
}

.displayTableRow:nth-child(even) {
  background-color:#A0AECC
}

.displayTableRow:nth-child(odd) {
  background-color:#B7E1C6
}

.displayTableRow:hover{
  background-color:#FEA03A
}
