body {
  background-color:#94D6F5
}

.displayTableRow:nth-child(even) {
  background-color:#FED671
}

.displayTableRow:nth-child(odd) {
  background-color:#B7E1C6
}

.displayTableRow:hover{
  background-color:#FEA03A
}
